html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 4rem #00000050;
  font-size: 22px;
}

@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");

@media only screen and (min-aspect-ratio: 4/3) and (min-width: 1180px) {
  html {
    font-size: 22px;
  }
}
@media only screen and (min-aspect-ratio: 4/3) and (max-width: 1180px) {
  html {
    font-size: 20px;
  }
}
@media only screen and (min-aspect-ratio: 4/3) and (max-width: 1000px) {
  html {
    font-size: 18px;
  }
}
@media only screen and (min-aspect-ratio: 4/3) and (max-width: 915px) {
  html {
    font-size: 16px;
  }
}

/* @media only screen and (max-width: 1019px) {
  html {
    font-size: 16px;
  }
} */
/* @media only screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (max-width: 700px) {
  html {
    font-size: 8px;
  } */
/* } */

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: #2a333e;
  color: #a9e3b0;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: "VT323", monospace;
  text-rendering: optimizeSpeed;
}

.item:focus {
  background: red;
}

a:link,
a,
a:visited {
  color: #a9e3b0;
  text-decoration: underline;
}

label {
  display: block;
}

.w-66 {
  width: 66%;
}

.w-33 {
  width: 33%;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

input[type="range"] {
  height: 0;
}

button {
  background-color: #f4f4f4;
  outline: none;
}

button:active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}
